terraform/pipeline/step-functions/BronzeValidationPipeline-StepFunction.json
{
    "Comment": "A state machine for validating Bronze layer data",
    "StartAt": "Bronze validation",
    "States": {
      "Bronze validation": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "Run validate ascwds workplace raw data job",
            "States": {
              "Run validate ascwds workplace raw data job": {
                "Type": "Task",
                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                "Parameters": {
                  "JobName": "${validate_ascwds_workplace_raw_data_job_name}",
                  "Arguments": {
                    "--raw_ascwds_workplace_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace/",
                    "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=workplace_raw_data_report/"
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "Run validate ascwds worker raw job",
            "States": {
              "Run validate ascwds worker raw job": {
                "Type": "Task",
                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                "Parameters": {
                  "JobName": "${validate_ascwds_worker_raw_data_job_name}",
                  "Arguments": {
                    "--raw_ascwds_worker_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=worker/",
                    "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=worker_raw_data_report/"
                  }
                },
                "ResultPath": null,
                "End": true
              }
            }
          },
          {
            "StartAt": "Run validate locations api raw job",
            "States": {
                "Run validate locations api raw job": {
                "Type": "Task",
                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                "Parameters": {
                  "JobName": "${validate_locations_api_raw_data_job_name}",
                  "Arguments": {
                    "--raw_cqc_location_source": "${dataset_bucket_uri}/domain=CQC/dataset=locations_api/version=2.1.0/",
                    "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=locations_api_raw_data_report/"
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "Run validate providers api raw job",
            "States": {
                "Run validate providers api raw job": {
                "Type": "Task",
                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                "Parameters": {
                  "JobName": "${validate_providers_api_raw_data_job_name}",
                  "Arguments": {
                    "--raw_cqc_provider_source": "${dataset_bucket_uri}/domain=CQC/dataset=providers_api/version=2.0.0/",
                    "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=providers_api_raw_data_report/"
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "Run validate pir raw job",
            "States": {
                "Run validate pir raw job": {
                "Type": "Task",
                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                "Parameters": {
                  "JobName": "${validate_pir_raw_data_job_name }",
                  "Arguments": {
                    "--raw_cqc_pir_source": "${dataset_bucket_uri}/domain=CQC/dataset=pir/",
                    "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=pir_raw_data_report/"
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "Run validate postcode directory raw job",
            "States": {
                "Run validate postcode directory raw job": {
                "Type": "Task",
                "Resource": "arn:aws:states:::glue:startJobRun.sync",
                "Parameters": {
                  "JobName": "${validate_postcode_directory_raw_data_job_name}",
                  "Arguments": {
                    "--raw_postcode_directory_source": "${dataset_bucket_uri}/domain=ONS/dataset=postcode_directory/",
                    "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=postcode_directory_raw_data_report/"
                  }
                },
                "End": true
              }
            }
          }
        ],
        "Next": "StartCrawler",
        "Comment": "A state machine for validating Bronze layer data",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Publish error notification",
            "ResultPath": "$.error"
          }
        ]
      },
      "StartCrawler": {
        "Type": "Task",
        "Parameters": {
          "Name": "${data_validation_reports_crawler_name}"
        },
        "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
        "Next": "Success",
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "Publish error notification",
            "ResultPath": "$.error"
          }
        ]
      },
      "Publish error notification": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
        "Parameters": {
          "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
          "Payload": {
            "Error.$": "$.error.Cause",
            "ExecutionId.$": "$$.Execution.Id",
            "StateMachineName.$": "$$.StateMachine.Name",
            "StateMachineId.$": "$$.StateMachine.Id",
            "ExecutionStartTime.$": "$$.Execution.StartTime",
            "CallbackToken.$": "$$.Task.Token"
          }
        },
        "Next": "Fail"
      },
      "Fail": {
        "Type": "Fail"
      },
      "Success": {
        "Type": "Succeed"
      }
    }
  }