terraform/pipeline/step-functions/CQC-API-Pipeline.json
{
  "Comment": "State machine for CQC data pipeline",
  "StartAt": "CqcIngest",
  "States": {
    "CqcIngest": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ReadLastProvidersRun",
          "States": {
            "ReadLastProvidersRun": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Parameters": {
                "Name": "${last_providers_run_param_name}"
              },
              "ResultSelector": {
                "script": "delta_download_cqc_providers.py",
                "dest_arg": "--destination_prefix",
                "dest_value": "${dataset_bucket_uri}",
                "start_arg": "--start_timestamp",
                "start_value.$": "$.Parameter.Value",
                "end_arg": "--end_timestamp",
                "end_value.$": "$$.State.EnteredTime"
              },
              "Next": "RunDeltaCqcProvidersDownloadJob"
            },
            "RunDeltaCqcProvidersDownloadJob": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${cluster_arn}",
                "TaskDefinition": "${task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command.$": "States.Array($.script, $.dest_arg, $.dest_value, $.start_arg, $.start_value, $.end_arg, $.end_value)"
                    }
                  ]
                }
              },
              "ResultSelector": {
                "endDate.$": "$.end_value"
              },
              "ResultPath": "$.providerResult",
              "Next": "WriteLastProvidersRun"
            },
            "WriteLastProvidersRun": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
              "Parameters": {
                "Name": "${last_providers_run_param_name}",
                "Value.$": "$.providerResult.endDate",
                "Overwrite": true,
                "Type": "String"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ReadLastLocationsRun",
          "States": {
            "ReadLastLocationsRun": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:getParameter",
              "Parameters": {
                "Name": "${last_locations_run_param_name}"
              },
              "ResultSelector": {
                "script": "delta_download_cqc_locations.py",
                "dest_arg": "--destination_prefix",
                "dest_value": "${dataset_bucket_uri}",
                "start_arg": "--start_timestamp",
                "start_value.$": "$.Parameter.Value",
                "end_arg": "--end_timestamp",
                "end_value.$": "$$.State.EnteredTime"
              },
              "Next": "RunDeltaCqcLocationsDownloadJob"
            },
            "RunDeltaCqcLocationsDownloadJob": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${cluster_arn}",
                "TaskDefinition": "${task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command.$": "States.Array($.script, $.dest_arg, $.dest_value, $.start_arg, $.start_value, $.end_arg, $.end_value)"
                    }
                  ]
                }
              },
              "ResultSelector": {
                "endDate.$": "$.end_value"
              },
              "ResultPath": "$.locationResult",
              "Next": "WriteLastLocationsRun"
            },
            "WriteLastLocationsRun": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:ssm:putParameter",
              "Parameters": {
                "Name": "${last_locations_run_param_name}",
                "Value.$": "$.locationResult.endDate",
                "Overwrite": true,
                "Type": "String"
              },
              "End": true
            }
          }
        }
      ],
      "ResultPath": null,
      "Next": "CqcValidate"
    },
    "CqcValidate": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ValidateProvidersApiRaw",
          "States": {
            "ValidateProvidersApiRaw": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_providers_api_raw_delta_data_job_name}",
                "Arguments": {
                  "--raw_cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_providers_api/version=3.0.0/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=delta_providers_api_raw/"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ValidateLocationsApiRaw",
          "States": {
            "ValidateLocationsApiRaw": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_locations_api_raw_delta_data_job_name}",
                "Arguments": {
                  "--raw_cqc_location_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api/version=3.0.0/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=delta_locations_api_raw/"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "CqcBuild",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishErrorNotification",
          "ResultPath": "$.error"
        }
      ]
    },
    "CqcBuild": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "BuildProvidersDataset",
          "States": {
            "BuildProvidersDataset": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${create_snapshot_lambda_lambda_arn}:$LATEST",
                "Payload": {
                  "organisation_type": "providers",
                  "input_uri": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_providers_api/version=3.0.0/",
                  "output_uri.$": "States.Format('${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/year={}/month={}/day={}/', States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 0), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 1), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 2))",
                  "snapshot_date.$": "$$.State.EnteredTime"
                }
              },
              "Next": "CleanCqcProviderData"
            },
            "CleanCqcProviderData": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${clean_cqc_provider_data_job_name}",
                "Arguments": {
                  "--cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/",
                  "--cqc_provider_cleaned": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api_cleaned/"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "BuildLocationsDataset",
          "States": {
            "BuildLocationsDataset": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${create_snapshot_lambda_lambda_arn}:$LATEST",
                "Payload": {
                  "organisation_type": "locations",
                  "input_uri": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api/version=3.0.0/",
                  "output_uri.$": "States.Format('${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api/version=3.0.0/year={}/month={}/day={}/', States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 0), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 1), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 2))",
                  "snapshot_date.$": "$$.State.EnteredTime"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "CleanCqcLocationData"
    },
    "CleanCqcLocationData": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${clean_cqc_location_data_job_name}",
        "Arguments": {
          "--cqc_location_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api/version=3.0.0/",
          "--cleaned_ons_postcode_directory_source": "${dataset_bucket_uri}/domain=ONS/dataset=postcode_directory_cleaned/",
          "--cleaned_cqc_location_destination": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api_cleaned/"
        }
      },
      "Next": "CrawlCqc"
    },
    "CrawlCqc": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Parameters": {
        "Name": "${cqc_crawler_name}"
      },
      "Next": "ValidateCleaned"
    },
    "ValidateCleaned": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "ValidateProvidersCleaned",
          "States": {
            "ValidateProvidersCleaned": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_providers_api_cleaned_data_job_name}",
                "Arguments": {
                  "--raw_cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/",
                  "--cleaned_cqc_providers_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api_cleaned/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=data_quality_report_delta_providers_api_cleaned/"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ValidateLocationsCleaned",
          "States": {
            "ValidateLocationsCleaned": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_locations_api_cleaned_data_job_name}",
                "Arguments": {
                  "--raw_cqc_location_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api/version=3.0.0/",
                  "--cleaned_cqc_locations_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api_cleaned/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=data_quality_report_delta_locations_api_cleaned/"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "CrawlWhenSuccessful",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "PublishErrorNotification",
          "ResultPath": "$.error"
        }
      ]
    },
    "CrawlWhenSuccessful": {
      "Type": "Task",
      "Parameters": {
        "Name": "${data_validation_reports_crawler_name}"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "PublishErrorNotification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
        "Payload": {
          "Error.$": "$.error.Cause",
          "ExecutionId.$": "$$.Execution.Id",
          "StateMachineName.$": "$$.StateMachine.Name",
          "StateMachineId.$": "$$.StateMachine.Id",
          "ExecutionStartTime.$": "$$.Execution.StartTime",
          "CallbackToken.$": "$$.Task.Token"
        }
      },
      "Next": "CrawlWhenFailed"
    },
    "CrawlWhenFailed": {
      "Type": "Task",
      "Parameters": {
        "Name": "${data_validation_reports_crawler_name}"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
