terraform/pipeline/step-functions/CQC-And-ASCWDS-Orchestrator.json
{
  "Comment": "A state machine to manage the weekly ingestion of CQC API and ASC-WDS data",
  "StartAt": "Ingest CQC And ASCWDS",
  "States": {
    "Ingest CQC And ASCWDS": {
      "Type": "Parallel",
      "Next": "Trigger Workforce Intelligence Pipeline",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Publish Error Notification"
        }
      ],
      "Branches": [
        {
          "StartAt": "Ingest CQC API",
          "States": {
            "Ingest CQC API": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "${ingest_cqc_api_state_machine_arn}",
                "Input": {
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Check ASCWDS Ingest",
          "States": {
            "Check ASCWDS Ingest": {
              "Type": "Parallel",
              "Parameters": {
                "year.$": "States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 0)",
                "month.$": "States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 1)",
                "day.$": "States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 2)",
                "worker_attempts": 0,
                "workplace_attempts": 0
              },
              "Branches": [
                {
                  "StartAt": "Check Worker",
                  "States": {
                    "Check Worker": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
                      "Parameters": {
                        "Prefix.$": "States.Format('domain=ASCWDS/dataset=worker/version=1.0.0/year={}/month={}/day={}/', $.year, $.month, $.day)",
                        "Bucket": "${dataset_bucket_name}",
                        "StartAfter.$": "States.Format('domain=ASCWDS/dataset=worker/version=1.0.0/year={}/month={}/day={}/import_date={}{}{}', $.year, $.month, $.day, $.year, $.month, $.day)"
                      },
                      "ResultPath": "$.workerfile",
                      "Next": "Worker Ready"
                    },
                    "Worker Ready": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.workerfile.KeyCount",
                          "NumericGreaterThanEquals": 1,
                          "Next": "Mark Worker Ready"
                        },
                        {
                          "Variable": "$.workerfile.KeyCount",
                          "NumericEquals": 0,
                          "Next": "Increment Worker Attempts"
                        }
                      ]
                    },
                    "Increment Worker Attempts": {
                      "Type": "Pass",
                      "Parameters": {
                        "year.$": "$.year",
                        "month.$": "$.month",
                        "day.$": "$.day",
                        "worker_attempts.$": "States.MathAdd($.worker_attempts, 1)"
                      },
                      "Next": "Worker Attempts Exceeded?"
                    },
                    "Worker Attempts Exceeded?": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.worker_attempts",
                          "NumericGreaterThanEquals": ${ascwds_polling_max_attempts},
                          "Next": "Worker Timeout"
                        }
                      ],
                      "Default": "Wait For Worker"
                    },
                    "Wait For Worker": {
                      "Type": "Wait",
                      "Seconds": ${ascwds_polling_wait_seconds},
                      "Next": "Check Worker"
                   },
                    "Worker Timeout": {
                      "Type": "Fail",
                      "Error": "ASCWDSFileTimeout",
                      "Cause": "Worker file not found after ${ascwds_polling_max_attempts} attempts"
                    },
                    "Mark Worker Ready": {
                      "Type": "Pass",
                      "End": true
                    }
                 }
                },
                {
                  "StartAt": "Check Workplace",
                  "States": {
                    "Check Workplace": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
                      "Parameters": {
                        "Prefix.$": "States.Format('domain=ASCWDS/dataset=workplace/version=1.0.0/year={}/month={}/day={}/', $.year, $.month, $.day)",
                        "Bucket": "${dataset_bucket_name}",
                        "StartAfter.$": "States.Format('domain=ASCWDS/dataset=workplace/version=1.0.0/year={}/month={}/day={}/import_date={}{}{}', $.year, $.month, $.day, $.year, $.month, $.day)"
                      },
                      "ResultPath": "$.workerfile",
                      "Next": "Workplace Ready"
                    },
                    "Workplace Ready": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.workerfile.KeyCount",
                          "NumericGreaterThanEquals": 1,
                          "Next": "Mark Workplace Ready"
                        },
                        {
                          "Variable": "$.workerfile.KeyCount",
                          "NumericEquals": 0,
                          "Next": "Increment Workplace Attempts"
                        }
                        ]
                    },
                    "Increment Workplace Attempts": {
                      "Type": "Pass",
                      "Parameters": {
                        "year.$": "$.year",
                        "month.$": "$.month",
                        "day.$": "$.day",
                        "workplace_attempts.$": "States.MathAdd($.workplace_attempts, 1)"
                      },
                      "Next": "Workplace Attempts Exceeded?"
                    },
                    "Workplace Attempts Exceeded?": {
                      "Type": "Choice",
                      "Choices": [
                        {
                          "Variable": "$.workplace_attempts",
                          "NumericGreaterThanEquals": ${ascwds_polling_max_attempts},
                          "Next": "Workplace Timeout"
                        }
                      ],
                      "Default": "Wait For Workplace"
                    },
                    "Wait For Workplace": {
                      "Type": "Wait",
                      "Seconds": ${ascwds_polling_wait_seconds},
                      "Next": "Check Workplace"
                    },
                    "Workplace Timeout": {
                      "Type": "Fail",
                      "Error": "ASCWDSFileTimeout",
                      "Cause": "Workplace file not found after ${ascwds_polling_max_attempts} attempts"
                    },
                    "Mark Workplace Ready": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        }
      ]
    },
    "Trigger Workforce Intelligence Pipeline": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution",
      "Parameters": {
        "StateMachineArn": "${workforce_intelligence_state_machine_arn}",
        "Input": {
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "Publish Error Notification"
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Pass",
      "End": true
    },
    "Publish Error Notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
        "Payload": {
          "Error.$": "$.error.Cause",
          "ExecutionId.$": "$$.Execution.Id",
          "StateMachineName.$": "$$.StateMachine.Name",
          "StateMachineId.$": "$$.StateMachine.Id",
          "ExecutionStartTime.$": "$$.Execution.StartTime",
          "CallbackToken.$": "$$.Task.Token"
        }
      },
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}
