terraform/pipeline/step-functions/HistoricDataEngineeringPipeline-StepFunction.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Prepare DPR external data",
  "States": {
    "Prepare DPR external data": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${prepare_dpr_external_job_name}",
        "Arguments": {
          "--direct_payments_source": "${dataset_bucket_uri}/domain=DPR/dataset=direct_payments_external/version=2023.01/",
          "--destination": "${dataset_bucket_uri}/domain=data_engineering/dataset=direct_payments_external_prepared/version=2023.01/"
        }
      },
      "Next": "Run data engineering crawler"
    },
    "Run data engineering crawler": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:eu-west-2:344210435447:stateMachine:main-RunCrawler",
        "Input": {
          "crawler_name": "${data_engineering_crawler_name}",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "Next": "estimate direct payments"
    },
    "estimate direct payments": {
      "Type": "Task",
      "Resource": "arn:aws:states:::glue:startJobRun.sync",
      "Parameters": {
        "JobName": "${estimate_direct_payments_job_name}",
        "Arguments": {
          "--direct_payments_merged_source": "${dataset_bucket_uri}/domain=data_engineering/dataset=direct_payments_external_prepared/version=2023.01/",
          "--destination": "${dataset_bucket_uri}/domain=data_engineering/dataset=direct_payments_estimates/version=2023.01/",
          "--summary_destination": "${dataset_bucket_uri}/domain=data_engineering/dataset=direct_payments_estimates_summary/version=2023.01/"
        }
      },
      "Next": "Run data engineering crawler (1)"
    },
    "Run data engineering crawler (1)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:eu-west-2:344210435447:stateMachine:main-RunCrawler",
        "Input": {
          "crawler_name": "${data_engineering_crawler_name}",
          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
        }
      },
      "End": true
    }
  }
}