terraform/pipeline/step-functions/IndCqcFilledPostEstimatePipeline-StepFunction.json
{
  "Comment": "A state machine indicating the transformation steps from Bronze -> Silver -> Gold data layers, as divided by the stages",
  "StartAt": "Bronze to Silver Transformation Layer",
  "States": {
    "Bronze to Silver Transformation Layer": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Run clean ascwds workplace data job",
          "States": {
            "Run clean ascwds workplace data job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-clean_ascwds_workplace_data_job",
                "Arguments": {
                  "--ascwds_workplace_source": "s3://sfc-main-datasets/domain=ASCWDS/dataset=workplace/",
                  "--cleaned_ascwds_workplace_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ASCWDS/dataset=workplace_cleaned/",
                  "--workplace_for_reconciliation_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=workplace_for_reconciliation/"
                }
              },
              "Next": "Clean ASCWDS worker and SfC Reconciliation Parallel"
            },
            "Clean ASCWDS worker and SfC Reconciliation Parallel": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Run clean ascwds worker data job",
                  "States": {
                    "Run clean ascwds worker data job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "add-extrap-interp-into-missing-clean_ascwds_worker_data_job",
                        "Arguments": {
                          "--ascwds_worker_source": "s3://sfc-main-datasets/domain=ASCWDS/dataset=worker/",
                          "--ascwds_workplace_cleaned_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ASCWDS/dataset=workplace_cleaned/",
                          "--ascwds_worker_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ASCWDS/dataset=worker_cleaned/"
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Run reconciliation job",
                  "States": {
                    "Run reconciliation job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "add-extrap-interp-into-missing-reconciliation_job",
                        "Arguments": {
                          "--cqc_location_api_source": "s3://sfc-main-datasets/domain=CQC/dataset=locations_api/version=2.1.0/",
                          "--ascwds_reconciliation_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=workplace_for_reconciliation/",
                          "--reconciliation_single_and_subs_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=reconciliation/singles_and_subs",
                          "--reconciliation_parents_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=reconciliation/parents"
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Run clean pir data job",
          "States": {
            "Run clean pir data job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-clean_cqc_pir_data_job",
                "Arguments": {
                  "--cqc_pir_source": "s3://sfc-main-datasets/domain=CQC/dataset=pir/",
                  "--cleaned_cqc_pir_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=pir_cleaned/"
                }
              },
              "ResultPath": null,
              "End": true
            }
          }
        },
        {
          "StartAt": "Clean ONS and Clean CQC Provider Parallel",
          "States": {
            "Clean ONS and Clean CQC Provider Parallel": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Run clean ons data job",
                  "States": {
                    "Run clean ons data job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "add-extrap-interp-into-missing-clean_ons_data_job",
                        "Arguments": {
                          "--ons_source": "s3://sfc-main-datasets/domain=ONS/dataset=postcode_directory/",
                          "--cleaned_ons_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ONS/dataset=postcode_directory_cleaned/"
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Run clean cqc provider data job",
                  "States": {
                    "Run clean cqc provider data job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "add-extrap-interp-into-missing-clean_cqc_provider_data_job",
                        "Arguments": {
                          "--cqc_provider_source": "s3://sfc-main-datasets/domain=CQC/dataset=providers_api/version=2.0.0/",
                          "--cqc_provider_cleaned": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=providers_api_cleaned/"
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Run clean cqc locations data job"
            },
            "Run clean cqc locations data job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-clean_cqc_location_data_job",
                "Arguments": {
                  "--cqc_location_source": "s3://sfc-main-datasets/domain=CQC/dataset=locations_api/version=2.1.0",
                  "--cleaned_cqc_provider_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=providers_api_cleaned/",
                  "--cleaned_ons_postcode_directory_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ONS/dataset=postcode_directory_cleaned/",
                  "--cleaned_cqc_location_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=locations_api_cleaned/"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Silver to Gold Transformation Layer",
      "Comment": "A state that fully encapsulates taking data from the Bronze layer and performing ETL operations to move it to the Silver layer",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Publish error notification",
          "ResultPath": "$.error"
        }
      ]
    },
    "Silver to Gold Transformation Layer": {
      "Type": "Parallel",
      "Next": "Success",
      "Branches": [
        {
          "StartAt": "Run merge ind cqc data job",
          "States": {
            "Run merge ind cqc data job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-merge_ind_cqc_data_job",
                "Arguments": {
                  "--cleaned_cqc_location_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=locations_api_cleaned/",
                  "--cleaned_cqc_pir_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=pir_cleaned/",
                  "--cleaned_ascwds_workplace_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ASCWDS/dataset=workplace_cleaned/",
                  "--destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=merged_ind_cqc_data/"
                }
              },
              "Next": "Run clean ind cqc data job"
            },
            "Run clean ind cqc data job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-clean_ind_cqc_filled_posts_job",
                "Arguments": {
                  "--merged_ind_cqc_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=merged_ind_cqc_data/",
                  "--cleaned_ind_cqc_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=cleaned_ind_cqc_data/"
                }
              },
              "Next": "Run estimate missing ascwds ind cqc filled posts job"
            },
            "Run estimate missing ascwds ind cqc filled posts job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-estimate_missing_ascwds_ind_cqc_filled_posts_job",
                "Arguments": {
                  "--cleaned_ind_cqc_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=cleaned_ind_cqc_data/",
                  "--estimated_missing_ascwds_ind_cqc_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_missing_ascwds_filled_posts/"
                }
              },
              "Next": "Run ind crawler"
            },
            "Run ind crawler": {
              "Type": "Task",
              "Parameters": {
                "Name": "add-extrap-interp-into-missing-data_engineering_ind_cqc_filled_posts"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Next": "Feature engineering"
            },
            "Feature engineering": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Run care home features job",
                  "States": {
                    "Run care home features job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "add-extrap-interp-into-missing-prepare_care_home_ind_cqc_features_job",
                        "Arguments": {
                          "--ind_cqc_filled_posts_cleaned_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_missing_ascwds_filled_posts/",
                          "--care_home_ind_cqc_features_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=care_home_ind_cqc_features/"
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Run non res ascwds features job",
                  "States": {
                    "Run non res ascwds features job": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "add-extrap-interp-into-missing-prepare_non_res_ascwds_ind_cqc_features_job",
                        "Arguments": {
                          "--ind_cqc_filled_posts_cleaned_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_missing_ascwds_filled_posts/",
                          "--non_res_ascwds_inc_dormancy_ind_cqc_features_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=non_res_ascwds_inc_dormancy_ind_cqc_features/",
                          "--non_res_ascwds_without_dormancy_ind_cqc_features_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=non_res_ascwds_without_dormancy_ind_cqc_features/"
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Run estimate ind cqc filled posts job"
            },
            "Run estimate ind cqc filled posts job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-estimate_ind_cqc_filled_posts_job",
                "Arguments": {
                  "--estimate_missing_ascwds_filled_posts_data_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_missing_ascwds_filled_posts/",
                  "--care_home_features_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=care_home_ind_cqc_features/",
                  "--care_home_model_source": "s3://sfc-add-extrap-interp-into-missing-pipeline-resources/models/care_home_filled_posts_prediction/4.0.1/",
                  "--non_res_with_dormancy_features_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=non_res_ascwds_inc_dormancy_ind_cqc_features/",
                  "--non_res_with_dormancy_model_source": "s3://sfc-add-extrap-interp-into-missing-pipeline-resources/models/non_residential_with_dormancy_prediction/2.0.0/",
                  "--non_res_without_dormancy_features_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=non_res_ascwds_without_dormancy_ind_cqc_features/",
                  "--non_res_without_dormancy_model_source": "s3://sfc-add-extrap-interp-into-missing-pipeline-resources/models/non_residential_without_dormancy_prediction/1.0.0/",
                  "--estimated_ind_cqc_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_ind_cqc_filled_posts/",
                  "--ml_model_metrics_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=ml_model_metrics/"
                }
              },
              "Next": "Run estimate ind cqc filled posts by job role job"
            },
            "Run estimate ind cqc filled posts by job role job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-estimate_ind_cqc_filled_posts_by_job_role_job",
                "Arguments": {
                  "--estimated_ind_cqc_filled_posts_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_ind_cqc_filled_posts/",
                  "--cleaned_ascwds_worker_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ASCWDS/dataset=worker_cleaned/",
                  "--estimated_ind_cqc_filled_posts_by_job_role_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_ind_cqc_filled_posts_by_job_role/"
                }
              },
              "Next": "Run diagnostics on known filled posts job"
            },
            "Run diagnostics on known filled posts job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-diagnostics_on_known_filled_posts_job",
                "Arguments": {
                  "--estimate_filled_posts_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_ind_cqc_filled_posts/",
                  "--diagnostics_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_ind_cqc_filled_posts_diagnostics/",
                  "--summary_diagnostics_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=ind_cqc_filled_posts/dataset=estimated_ind_cqc_filled_posts_diagnostics_summary/",
                  "--charts_destination": "sfc-add-extrap-interp-into-missing-datasets"
                }
              },
              "Next": "Validation and crawler"
            },
            "Validation and crawler": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Start gold validation",
                  "States": {
                    "Start gold validation": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::states:startExecution.sync:2",
                      "Parameters": {
                        "StateMachineArn": "arn:aws:states:eu-west-2:344210435447:stateMachine:add-extrap-interp-into-missing-Gold-Validation-Pipeline",
                        "Input": {
                          "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "run ind crawler",
                  "States": {
                    "run ind crawler": {
                      "Type": "Task",
                      "Parameters": {
                        "Name": "add-extrap-interp-into-missing-data_engineering_ind_cqc_filled_posts"
                      },
                      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Run merge coverage data job",
          "States": {
            "Run merge coverage data job": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "add-extrap-interp-into-missing-merge_coverage_data_job",
                "Arguments": {
                  "--cleaned_cqc_location_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=CQC/dataset=locations_api_cleaned/",
                  "--workplace_for_reconciliation_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=workplace_for_reconciliation/",
                  "--cqc_ratings_source": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=cqc_ratings/",
                  "--merged_coverage_destination": "s3://sfc-add-extrap-interp-into-missing-datasets/domain=SfC/dataset=merged_coverage_data/"
                }
              },
              "Next": "Run sfc crawler"
            },
            "Run sfc crawler": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "Name": "add-extrap-interp-into-missing-data_engineering_SfC"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler"
            }
          }
        },
        {
          "StartAt": "Run ascwds crawler",
          "States": {
            "Run ascwds crawler": {
              "Type": "Task",
              "Parameters": {
                "Name": "add-extrap-interp-into-missing-data_engineering_ASCWDS"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "End": true
            }
          }
        },
        {
          "StartAt": "Run ons crawler",
          "States": {
            "Run ons crawler": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "Name": "add-extrap-interp-into-missing-data_engineering_ONS"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler"
            }
          }
        },
        {
          "StartAt": "Run cqc crawler",
          "States": {
            "Run cqc crawler": {
              "Type": "Task",
              "End": true,
              "Parameters": {
                "Name": "add-extrap-interp-into-missing-data_engineering_CQC"
              },
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler"
            }
          }
        }
      ],
      "Comment": "A state that fully encapsulates taking data from the Silver layer and performing ETL operations to move it to the Gold layer",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Publish error notification",
          "ResultPath": "$.error"
        }
      ]
    },
    "Publish error notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-2:344210435447:function:add-extrap-interp-into-missing-glue-failure-notification:$LATEST",
        "Payload": {
          "Error.$": "$.error.Cause",
          "ExecutionId.$": "$$.Execution.Id",
          "StateMachineName.$": "$$.StateMachine.Name",
          "StateMachineId.$": "$$.StateMachine.Id",
          "ExecutionStartTime.$": "$$.Execution.StartTime",
          "CallbackToken.$": "$$.Task.Token"
        }
      },
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}