terraform/pipeline/step-functions/TransformASCWDS-StepFunction.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Ingest ASCWDS",
    "States": {
        "Ingest ASCWDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "${ingest_ascwds_job_name}",
                "Arguments": {
                    "--destination": "s3://${dataset_bucket_name}/domain=ASCWDS/",
                    "--source.$": "$.jobs.ingest_ascwds_dataset.source"
                }
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Fail"
                }
            ],
            "Next": "Parallel",
            "ResultPath": "$.jobs.prepare_locations_job",
            "ResultSelector": {
                "destination": "s3://${dataset_bucket_name}/domain=data_engineering/dataset=locations_prepared/version=1.0.1/",
                "pir_source": "s3://sfc-main-datasets/domain=CQC/dataset=pir/version=0.0.3/",
                "workplace_source": "s3://${dataset_bucket_name}/domain=ASCWDS/dataset=workplace/version=1.0.0/",
                "cqc_provider_source": "s3://sfc-main-datasets/domain=CQC/dataset=providers-api/version=1.0.0/",
                "cqc_location_source": "s3://sfc-main-datasets/domain=CQC/dataset=locations-api/version=1.0.0/"
              }
        },
        "Parallel": {
            "Type": "Parallel",
            "Next": "Run Data Engineering Crawler",
            "ResultPath": null,
            "Branches": [
                {
                    "StartAt": "Run ASCWDS Crawler",
                    "States": {
                        "Run ASCWDS Crawler": {
                            "Type": "Task",
                            "Parameters": {
                                "Name": "${data_engineering_ascwds_crawler_name}"
                            },
                            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Prepare Locations",
                    "States": {
                        "Prepare Locations": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::glue:startJobRun.sync",
                            "Parameters": {
                                "JobName": "${prepare_locations_job_name}",
                                "Arguments": {
                                    "--destination.$": "$.jobs.prepare_locations_job.destination",
                                    "--pir_source.$": "$.jobs.prepare_locations_job.pir_source",
                                    "--workplace_source.$": "$.jobs.prepare_locations_job.workplace_source",
                                    "--cqc_provider_source.$": "$.jobs.prepare_locations_job.cqc_provider_source",
                                    "--cqc_location_source.$": "$.jobs.prepare_locations_job.cqc_location_source"
                                }
                            },
                            "End": true
                        }
                    }
                }
            ]
        },
        "Run Data Engineering Crawler": {
            "Type": "Task",
            "Parameters": {
                "Name": "${data_engineering_crawler_name}"
            },
            "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail"
        }
    }
}