terraform/pipeline/step-functions/TransformCQCData-StepFunction.json
{
  "Comment": "State machine for cleaning and validating CQC data",
  "StartAt": "Clean And Validate CQC Data",
  "States": {
    "Clean And Validate CQC Data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Clean CQC Provider Data",
          "States": {
            "Clean CQC Provider Data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${clean_cqc_provider_data_job_name}",
                "Arguments": {
                  "--cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/",
                  "--cqc_provider_cleaned": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api_cleaned/"
                }
              },
              "Next": "Validate Providers Cleaned"
            },
            "Validate Providers Cleaned": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_providers_api_cleaned_data_job_name}",
                "Arguments": {
                  "--raw_cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/",
                  "--cleaned_cqc_providers_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api_cleaned/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=data_quality_report_delta_providers_api_cleaned/"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Set Locations Cleaning Parameters",
          "States": {
            "Set Locations Cleaning Parameters": {
              "Type": "Pass",
                      "Result": {
                        "script": "delta_clean_cqc_locations.py",
                        "cqc_raw_arg": "--cqc_locations_source",
                        "cqc_raw": "${dataset_bucket_name}/domain=CQC_delta/dataset=delta_locations_api/version=3.0.0",
                        "ons_arg": "--cleaned_ons_source",
                        "ons": "${dataset_bucket_uri}/domain=ONS/dataset=postcode_directory_cleaned/",
                        "cqc_cleaned_arg": "--cleaned_cqc_locations_destination",
                        "cqc_cleaned": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api_cleaned/",
                        "gac_service_arg": "--gac_service_destination",
                        "gac_service": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_gac_service/",
                        "regulated_activities_arg": "--regulated_activities_destination",
                        "regulated_activities": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_regulated_activities/",
                        "specialisms_arg": "--specialisms_destination",
                        "specialisms": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_specialisms/",
                        "postcode_matching_arg": "--postcode_matching_destination",
                        "postcode_matching": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_postcode_matching/"
                      },
                      "Next": "Clean CQC Location Data"
            },
            "Clean CQC Location Data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                        "Cluster": "${cluster_arn}",
                        "TaskDefinition": "${task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.cqc_raw_arg, $.cqc_raw, $.ons_arg, $.ons, $.cqc_cleaned_arg, $.cqc_cleaned, $.gac_service_arg, $.gac_service, $.regulated_activities_arg, $.regulated_activities, $.specialisms_arg, $.specialisms, $.postcode_matching_arg, $.postcode_matching)"
                            }
                          ]
                        }
                      },
              "ResultPath": "$.cleanLocationResult",
              "Next": "Validate Location and Dimensions"
            },
            "Validate Location and Dimensions": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Set Locations Parameters",
                  "States": {
                    "Set Locations Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "validate_delta_locations_api_cleaned.py",
                        "bucket_name_arg": "--bucket_name",
                        "bucket_name": "${dataset_bucket_name}",
                        "source_path_arg": "--source_path",
                        "source_path": "domain=CQC_delta/dataset=delta_locations_api_cleaned/",
                        "reports_path_arg": "--reports_path",
                        "reports_path": "domain=data_validation_reports/dataset=data_validation_reports_delta_locations_api_cleaned/",
                        "compare_path_arg": "--compare_path",
                        "compare_path": "domain=CQC_delta/dataset=delta_locations_api/version=3.0.0/"
                      },
                      "Next": "Validate Locations Cleaned"
                    },
                    "Validate Locations Cleaned": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${cluster_arn}",
                        "TaskDefinition": "${task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.bucket_name_arg, $.bucket_name, $.source_path_arg, $.source_path, $.reports_path_arg, $.reports_path, $.compare_path_arg, $.compare_path)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.validateLocationsResult",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Set Postcode Parameters",
                  "States": {
                    "Set Postcode Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "validate_dim_postcodes_matching.py",
                        "bucket_name_arg": "--bucket_name",
                        "bucket_name": "${dataset_bucket_name}",
                        "source_path_arg": "--source_path",
                        "source_path": "domain=CQC_delta/dataset=dim_postcode_matching/",
                        "reports_path_arg": "--reports_path",
                        "reports_path": "domain=data_validation_reports/dataset=data_validation_reports_dim_postcode_matching/"
                      },
                      "Next": "Validate Postcode Dimension"
                    },
                    "Validate Postcode Dimension": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${cluster_arn}",
                        "TaskDefinition": "${task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.bucket_name_arg, $.bucket_name, $.source_path_arg, $.source_path, $.reports_path_arg, $.reports_path)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.validatePostcodeResult",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Set GAC Parameters",
                  "States": {
                    "Set GAC Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "validate_dim_gac_service.py",
                        "bucket_name_arg": "--bucket_name",
                        "bucket_name": "${dataset_bucket_name}",
                        "source_path_arg": "--source_path",
                        "source_path": "domain=CQC_delta/dataset=dim_gac_service/",
                        "reports_path_arg": "--reports_path",
                        "reports_path": "domain=data_validation_reports/dataset=data_validation_reports_dim_gac_service/"
                      },
                      "Next": "Validate GAC Dimension"
                    },
                    "Validate GAC Dimension": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${cluster_arn}",
                        "TaskDefinition": "${task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.bucket_name_arg, $.bucket_name, $.source_path_arg, $.source_path, $.reports_path_arg, $.reports_path)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.validateGacResult",
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Build Locations Cleaned"
            },
            "Build Locations Cleaned": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${create_snapshot_lambda_lambda_arn}:$LATEST",
                "Payload": {
                  "dataset": "locations-cleaned",
                  "input_uri": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api_cleaned/",
                  "output_uri.$": "States.Format('${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api_cleaned/year={}/month={}/day={}/', States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 0), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 1), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 2))",
                  "snapshot_date.$": "$$.State.EnteredTime"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawler",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Handle Error and Run Crawler"
        }
      ]
    },
    "Handle Error and Run Crawler": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run CQC Crawler",
          "States": {
            "Run CQC Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${cqc_crawler_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
