terraform/pipeline/step-functions/WorkforceIntelligence-StepFunction.json
{
  "Comment": "A state machine to transform the CQC API and ASC-WDS data and trigger all downstream processes.",
  "StartAt": "Transform CQC and ASCWDS",
  "States": {
    "Transform CQC and ASCWDS": {
      "Type": "Parallel",
      "Next": "DownstreamPlaceholder",
      "Branches": [
        {
          "StartAt": "Transform CQC data",
          "States": {
            "Transform CQC data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution.sync:2",
              "Parameters": {
                "StateMachineArn": "${transform_cqc_data_state_machine_arn}",
                "Input": {
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Transform ASCWDS data",
          "States": {
            "Transform ASCWDS data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::states:startExecution",
              "Parameters": {
                "StateMachineArn": "${transform_ascwds_state_machine_arn}",
                "Input": {
                  "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
                }
              },
              "End": true
            }
          }
        }
      ]
    },
    "DownstreamPlaceholder": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SfC Coverage Pipeline",
          "States": {
            "SfC Coverage Pipeline": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "Ind CQC Pipeline",
          "States": {
            "Ind CQC Pipeline": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Pass",
      "End": true
    }
  }
}
