terraform/pipeline/step-functions/dynamic/Demo-Model-Retrain.json
{
  "Comment": "State machine for demonstrating model preprocessing and retraining",
  "StartAt": "Model Preprocess",
  "States": {
    "Model Preprocess": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "${model_cluster_arn}",
        "TaskDefinition": "${preprocess_task_arn}",
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ${public_subnet_ids
            },
            "SecurityGroups": [
              "${security_group_id}"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "model-preprocess-container",
              "Environment": [
                {
                  "Name": "TASK_TOKEN",
                  "Value.$": "$$.Task.Token"
                }
              ],
              "Command": [
                "preprocessing.py",
                "--model_name",
                "${non_res_pir_model_name}"
              ]
            }
          ]
        }
      },
      "Catch": [
        {
          "ErrorEquals": [
            "States.TaskFailed"
          ],
          "Next": "HandleFailure"
        }
      ],
      "Next": "Model Retrain"
    },
    "Model Retrain": {
      "Type": "Task",
      "Resource": "arn:aws:states:::ecs:runTask.sync",
      "Parameters": {
        "Cluster": "${model_cluster_arn}",
        "TaskDefinition": "${retrain_task_arn}",
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "AwsvpcConfiguration": {
            "Subnets": ${public_subnet_ids
            },
            "SecurityGroups": [
              "${security_group_id}"
            ],
            "AssignPublicIp": "ENABLED"
          }
        },
        "Overrides": {
          "ContainerOverrides": [
            {
              "Name": "model-retrain-container",
              "Command": [
                "train_model.py",
                "--model_name",
                "${non_res_pir_model_name}"
              ]
            }
          ]
        }
      },
      "End": true
    },
    "HandleFailure": {
      "Type": "Fail",
      "Cause": "The preprocessing task failed.",
      "Error": "PreprocessingFailed"
    }
  }
}