terraform/pipeline/step-functions/dynamic/Ind-CQC-SLV.json
{
  "Comment": "A state machine for producing estimated starters, leavers and vacancies",
  "StartAt": "Estimate SLV",
  "States": {
    "Estimate SLV": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Prepare data",
          "States": {
            "Prepare data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${workforce_characteristics_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "_07_workforce_characteristics-container",
                      "Command": [
                        "_01_starters_leavers_vacancies/fargate/_00_prepare.py",
                        "--cleaned_ascwds_workplace_source", "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace_cleaned/",
                        "--prepared_data_destination", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_00_prepare/"
                      ]
                    }
                  ]
                }
              },
              "Next": "Merge and Validate Prepared Data"
            },
            "Merge and Validate Prepared Data": {
              "Type": "Parallel",
              "Next": "Clean and Validate Merged Data",
              "Branches": [
                {
                  "StartAt": "Merge data",
                  "States": {
                    "Merge data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/_01_merge.py",
                                "--metadata_source", "${dataset_bucket_uri}/domain=ind_cqc_filled_posts/dataset=${ind_cqc_job_role_metadata}/",
                                "--job_role_estimates_source", "${dataset_bucket_uri}/domain=ind_cqc_filled_posts/dataset=${ind_cqc_job_role_estimates}/",
                                "--prepared_slv_dataset_source", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_00_prepare/",
                                "--merged_data_destination","${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_01_merge/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Prepared Data",
                  "States": {
                    "Validate Prepared Data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/validate_00_prepare.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_00_prepare/",
                                "--compare_path", "domain=ASCWDS/dataset=workplace_cleaned/",
                                "--reports_path", "domain=data_validation_reports/dataset=validation_ind_cqc_slv_00_prepare/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "Clean and Validate Merged Data": {
              "Type": "Parallel",
              "Next": "Impute and Validate Cleaned Data",
              "Branches": [
                {
                  "StartAt": "Clean data",
                  "States": {
                    "Clean data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/_02_clean.py",
                                "--merged_data_source", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_01_merge/",
                                "--cleaned_data_destination", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_02_clean/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Merged Data",
                  "States": {
                    "Validate Merged Data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/validate_01_merge.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_01_merge/",
                                "--compare_path", "domain=ind_cqc_filled_posts/dataset=${ind_cqc_job_role_estimates}/",
                                "--reports_path", "domain=data_validation_reports/dataset=validation_ind_cqc_slv_01_merge/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "Impute and Validate Cleaned Data": {
              "Type": "Parallel",
              "Next": "Estimate and Validate Imputed Data",
              "Branches": [
                {
                  "StartAt": "Impute data",
                  "States": {
                    "Impute data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/_03_impute.py",
                                "--cleaned_data_source", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_02_clean/",
                                "--imputed_data_destination", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_03_impute/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Cleaned Data",
                  "States": {
                    "Validate Cleaned Data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/validate_02_clean.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_02_clean/",
                                "--compare_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_01_merge/",
                                "--reports_path", "domain=data_validation_reports/dataset=validation_ind_cqc_slv_02_clean/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "Estimate and Validate Imputed Data": {
              "Type": "Parallel",
              "Next": "Validate SLV Estimates",
              "Branches": [
                {
                  "StartAt": "Estimate data",
                  "States": {
                    "Estimate data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/_04_estimate.py",
                                "--imputed_data_source", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_03_impute/",
                                "--estimated_data_destination", "${dataset_bucket_uri}/domain=workforce_characteristics/dataset=ind_cqc_slv_04_estimate/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Imputed Data",
                  "States": {
                    "Validate Imputed Data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/validate_03_impute.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_03_impute/",
                                "--compare_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_02_clean/",
                                "--reports_path", "domain=data_validation_reports/dataset=validation_ind_cqc_slv_03_impute/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "Validate SLV Estimates": {
              "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${workforce_characteristics_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${workforce_characteristics_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_07_workforce_characteristics-container",
                              "Command": [
                                "_01_starters_leavers_vacancies/fargate/validate_04_estimate.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_04_estimate/",
                                "--compare_path", "domain=workforce_characteristics/dataset=ind_cqc_slv_03_impute/",
                                "--reports_path", "domain=data_validation_reports/dataset=validation_ind_cqc_slv_04_estimate/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawlers",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Handle Error and Run Crawlers",
          "ResultPath": "$.error"
        }
      ]
    },
    "Handle Error and Run Crawlers": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run workforce characteristics crawler",
          "States": {
            "Run workforce characteristics crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${workforce_characteristics_crawler_name}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Run Validation Crawler",
          "States": {
            "Run Validation Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${data_validation_reports_crawler_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
