terraform/pipeline/step-functions/dynamic/Ind-CQC-Filled-Post-Estimates.json
{
  "Comment": "A state machine indicating the transformation steps from Silver -> Gold data layers for the Independent CQC filled posts pipeline",
  "StartAt": "Silver to Gold Transformation Layer",
  "States": {
    "Silver to Gold Transformation Layer": {
      "Type": "Parallel",
      "Next": "Run validation crawler when success",
      "Branches": [
        {
          "StartAt": "Merge CQC, ASC-WDS and CT data",
          "States": {
            "Merge CQC, ASC-WDS and CT data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${independent_cqc_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${independent_cqc_security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "_03_independent_cqc-container",
                      "Command": [
                        "merge_ind_cqc_data.py",
                        "--cleaned_cqc_location_source",
                        "s3://sfc-1311-fix-dest-t2-datasets/domain=CQC/dataset=cqc_locations_04_full_cleaned_registered/",
                        "--cleaned_cqc_pir_source",
                        "s3://sfc-1311-fix-dest-t2-datasets/domain=CQC/dataset=pir_cleaned/",
                        "--cleaned_ascwds_workplace_source",
                        "s3://sfc-1311-fix-dest-t2-datasets/domain=ASCWDS/dataset=workplace_cleaned/",
                        "--cleaned_ct_non_res_source",
                        "s3://sfc-1311-fix-dest-t2-datasets/domain=capacity_tracker/dataset=capacity_tracker_non_residential_cleaned/",
                        "--cleaned_ct_care_home_source",
                        "s3://sfc-1311-fix-dest-t2-datasets/domain=capacity_tracker/dataset=capacity_tracker_care_home_cleaned/",
                        "--destination",
                        "s3://sfc-1311-fix-dest-t2-datasets/domain=ind_cqc_filled_posts/dataset=ind_cqc_01_merged_data/"
                      ]
                    }
                  ]
                }
              },
              "Next": "Clean and validate merged data"
            },
            "Clean and validate merged data": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Clean IND CQC data",
                  "States": {
                    "Clean IND CQC data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${clean_ind_cqc_filled_posts_job_name}",
                        "Arguments": {
                          "--merged_ind_cqc_source": "s3://sfc-1311-fix-dest-t2-datasets/domain=ind_cqc_filled_posts/dataset=ind_cqc_01_merged_data/",
                          "--cleaned_ind_cqc_destination": "s3://sfc-1311-fix-dest-t2-datasets/domain=ind_cqc_filled_posts/dataset=ind_cqc_02_cleaned_data/"
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Comment": "A state that fully encapsulates taking data from the Silver layer and performing ETL operations to move it to the Gold layer",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "Publish error notification",
          "ResultPath": "$.error"
        }
      ]
    },
    "Run validation crawler when success": {
      "Type": "Task",
      "Parameters": {
        "Name": "1311-fix-dest--data_engineering_data_validation_reports"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Run Independent CQC crawler when success"
    },
    "Run Independent CQC crawler when success": {
      "Type": "Task",
      "Parameters": {
        "Name": "1311-fix-dest-data_engineering_ind_cqc_filled_posts"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Success"
    },
    "Publish error notification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-west-2:856699698263:function:1311-fix-dest-job-failure-notification:$LATEST",
        "Payload": {
          "Error.$": "$.error.Cause",
          "ExecutionId.$": "$$.Execution.Id",
          "StateMachineName.$": "$$.StateMachine.Name",
          "StateMachineId.$": "$$.StateMachine.Id",
          "ExecutionStartTime.$": "$$.Execution.StartTime",
          "CallbackToken.$": "$$.Task.Token"
        }
      },
      "Next": "Run validation crawler when failed"
    },
    "Run validation crawler when failed": {
      "Type": "Task",
      "Parameters": {
        "Name": "1311-fix-dest-data_engineering_data_validation_reports"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Run Independent CQC crawler when failed"
    },
    "Run Independent CQC crawler when failed": {
      "Type": "Task",
      "Parameters": {
        "Name": "1311-fix-dest-data_engineering_ind_cqc_filled_posts"
      },
      "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}