terraform/pipeline/step-functions/dynamic/Ind-CQC-SLV.json
{
  "Comment": "A state machine for producing estimated starters, leavers and vacancies",
  "StartAt": "Estimate SLV",
  "States": {
    "Estimate SLV": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Merge data",
          "States": {
            "Merge data": {
              "Type": "Pass",
              "Next": "Clean and Validate Merged Data"
            },
            "Clean and Validate Merged Data": {
              "Type": "Parallel",
              "Next": "Impute and Validate Cleaned Data",
              "Branches": [
                {
                  "StartAt": "Clean data",
                  "States": {
                    "Clean data": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Merged Data",
                  "States": {
                    "Validate Merged Data": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Merged Metadata",
                  "States": {
                    "Validate Merged Metadata": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                }
              ]
            },
            "Impute and Validate Cleaned Data": {
              "Type": "Parallel",
              "Next": "Estimate and Validate Imputed Data",
              "Branches": [
                {
                  "StartAt": "Impute data",
                  "States": {
                    "Impute data": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Cleaned Data",
                  "States": {
                    "Validate Cleaned Data": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                }
              ]
            },
            "Estimate and Validate Imputed Data": {
              "Type": "Parallel",
              "Next": "Validate SLV Estimates",
              "Branches": [
                {
                  "StartAt": "Estimate data",
                  "States": {
                    "Estimate data": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Imputed Data",
                  "States": {
                    "Validate Imputed Data": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                }
              ]
            },
            "Validate SLV Estimates": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawlers",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Handle Error and Run Crawlers",
          "ResultPath": "$.error"
        }
      ]
    },
    "Handle Error and Run Crawlers": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run IND CQC Crawler",
          "States": {
            "Run IND CQC Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${ind_cqc_filled_posts_crawler_name}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Run Validation Crawler",
          "States": {
            "Run Validation Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${data_validation_reports_crawler_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
