terraform/pipeline/step-functions/dynamic/Ingest-CQC-API-Delta.json
{
  "Comment": "State machine for CQC API ingestion data pipeline",
  "StartAt": "CQC API Ingestion",
  "States": {
    "CQC API Ingestion": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Run Delta CQC Providers Download",
          "States": {
            "Run Delta CQC Providers Download": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids
                    },
                    "SecurityGroups": [
                      "${cqc_api_security_group_id}"
                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command.$": "States.Array('cqc_providers_1_delta_api_download.py', '--destination_prefix', '${dataset_bucket_uri}', '--end_timestamp', $$.State.EnteredTime, '--previous_days_to_capture', '30')"
                    }
                  ]
                }
              },
              "ResultPath": "$.providerResult",
              "Next": "Validate Providers API Raw"
            },
            "Validate Providers API Raw": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": [
                      "${cqc_api_security_group_id}"
                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command": [
                        "validate_cqc_providers_1_delta_api_download.py",
                        "--bucket_name", "${dataset_bucket_name}",
                        "--source_path", "domain=CQC/dataset=cqc_providers_01_delta_api/version=3.0.0/",
                        "--reports_path", "domain=data_validation_reports/dataset=validation_cqc_providers_01_delta_api/"
                      ]
                    }
                  ]
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Run Delta CQC Locations Download",
          "States": {
            "Run Delta CQC Locations Download": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids
                    },
                    "SecurityGroups": [
                      "${cqc_api_security_group_id}"
                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command.$": "States.Array('cqc_locations_1_delta_api_download.py', '--destination_prefix', '${dataset_bucket_uri}', '--end_timestamp', $$.State.EnteredTime, '--previous_days_to_capture', '30')"
                    }
                  ]
                }
              },
              "ResultPath": "$.locationResult",
              "Next": "Validate Locations Api Raw"
            },
            "Validate Locations Api Raw": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids
                    },
                    "SecurityGroups": [
                      "${cqc_api_security_group_id}"
                    ],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command": [
                        "validate_cqc_locations_1_delta_api_download.py",
                        "--bucket_name", "${dataset_bucket_name}",
                        "--source_path", "domain=CQC/dataset=cqc_locations_01_delta_api/version=3.1.7/",
                        "--reports_path", "domain=data_validation_reports/dataset=validation_cqc_locations_01_delta_api/"
                      ]
                    }
                  ]
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawlers",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Handle Error and Run Crawlers"
        }
      ]
    },
    "Handle Error and Run Crawlers": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run CQC Crawler",
          "States": {
            "Run CQC Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${cqc_crawler_name}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Run Validation Crawler",
          "States": {
            "Run Validation Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${data_validation_reports_crawler_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
