terraform/pipeline/step-functions/dynamic/Ingest-ASCWDS.json
{
    "Comment": "A description of my state machine",
    "StartAt": "Ingest ASCWDS",
    "States": {
        "Ingest ASCWDS": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "${ingest_ascwds_job_name}",
                "Arguments": {
                    "--source.$": "$.jobs.ingest_ascwds_dataset.source",
                    "--destination": "s3://${dataset_bucket_name}/domain=ASCWDS/",
                    "--dataset": "ascwds"
                }
            },
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Publish error notification",
                    "ResultPath": "$.error"
                }
            ],
            "Next": "Run Data Engineering ASC WDS Crawler"
        },
        "Publish error notification": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                "Error.$": "$.error.Cause",
                "ExecutionId.$": "$$.Execution.Id",
                "StateMachineName.$": "$$.StateMachine.Name",
                "StateMachineId.$": "$$.StateMachine.Id",
                "ExecutionStartTime.$": "$$.Execution.StartTime",
                "CallbackToken.$": "$$.Task.Token"
                }
            },
            "Next": "Fail"
        },
        "Run Data Engineering ASC WDS Crawler": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync:2",
            "Parameters": {
              "StateMachineArn": "${run_crawler_state_machine_arn}",
              "Input": {
                "crawler_name": "${data_engineering_ascwds_crawler_name}",
                "AWS_STEP_FUNCTIONS_STARTED_BY_EXECUTION_ID.$": "$$.Execution.Id"
              }
            },
            "Next": "Success"
        },
        "Success": {
            "Type": "Succeed"
        },
        "Fail": {
            "Type": "Fail"
        }
    }
}