terraform/pipeline/step-functions/dynamic/SfC-Internal.json
{
  "Comment": "A state machine for running internal Skills for Care jobs",
  "StartAt": "Skills for Care internal jobs",
  "States": {
    "Skills for Care internal jobs": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Flatten CQC Ratings",
          "States": {
            "Flatten CQC Ratings": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${flatten_cqc_ratings_job_name}",
                "Arguments": {
                  "--cqc_full_snapshot_source": "${dataset_bucket_uri}/domain=CQC/dataset=cqc_locations_04_latest_snapshot/",
                  "--cqc_locations_api_delta_source": "${dataset_bucket_uri}/domain=CQC/dataset=delta_locations_api/version=3.1.0/",
                  "--ascwds_workplace_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace/",
                  "--cqc_ratings_destination": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_cqc_ratings_for_data_requests/",
                  "--benchmark_ratings_destination": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_cqc_ratings_for_benchmarks/version=2.0.0/"
                }
              },
              "Next": "Merge Coverage Data"
            },
            "Merge Coverage Data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${merge_coverage_data_job_name}",
                "Arguments": {
                  "--cleaned_cqc_location_source": "${dataset_bucket_uri}/domain=CQC/dataset=cqc_locations_04_full_cleaned_registered/",
                  "--workplace_for_reconciliation_source": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_workplace_for_reconciliation/",
                  "--cqc_ratings_source": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_cqc_ratings_for_data_requests/",
                  "--cleaned_cqc_providers_source": "${dataset_bucket_uri}/domain=CQC/dataset=cqc_providers_04_full_cleaned/",
                  "--merged_coverage_destination": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_merged_coverage_data/",
                  "--reduced_coverage_destination": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_monthly_coverage_data/"
                }
              },
              "Next": "Validate Merge Coverage Data"
            },
            "Validate Merge Coverage Data": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Validate Monthly Coverage",
                  "States": {
                    "Validate Monthly Coverage": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${model_cluster_arn}",
                        "TaskDefinition": "${sfc_internal_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${jsonencode(public_subnet_ids)},
                            "SecurityGroups": [
                              "${sfc_internal_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "_02_sfc_internal-container",
                              "Command": [
                                "validate_monthly_coverage_data.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=SfC/dataset=sfc_monthly_coverage_data/",
                                "--reports_path", "domain=data_validation_reports/dataset=data_quality_report_sfc_monthly_coverage_data/",
                                "--compare_path", "domain=CQC/dataset=cqc_locations_04_full_cleaned_registered/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Merge Coverage",
                  "States": {
                    "Validate Merge Coverage": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${validate_merge_coverage_data_job_name}",
                        "Arguments": {
                          "--cleaned_cqc_location_source": "${dataset_bucket_uri}/domain=CQC/dataset=cqc_locations_04_full_cleaned_registered/",
                          "--merged_coverage_data_source": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_merged_coverage_data/",
                          "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=data_quality_report_sfc_merged_coverage_data/"
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Reconciliation"
            },
            "Reconciliation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${reconciliation_job_name}",
                "Arguments": {
                  "--cqc_locations_snapshot_source": "${dataset_bucket_uri}/domain=CQC/dataset=cqc_locations_04_latest_snapshot/",
                  "--ascwds_reconciliation_source": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_workplace_for_reconciliation/",
                  "--reconciliation_single_and_subs_destination": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_reconciliation_singles_and_subs",
                  "--reconciliation_parents_destination": "${dataset_bucket_uri}/domain=SfC/dataset=sfc_reconciliation_parents"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawlers",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Handle Error and Run Crawlers"
        }
      ]
    },
    "Handle Error and Run Crawlers": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "SfC Crawler",
          "States": {
            "SfC Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${sfc_crawler_name}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Validation Crawler",
          "States": {
            "Validation Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${data_validation_reports_crawler_name}"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        }
      ],
      "End": true
    }
  }
}
