terraform/pipeline/step-functions/dynamic/Transform-CQC-Data.json
{

  "Comment": "State machine for cleaning and validating CQC data",
  "StartAt": "Clean And Validate CQC Data",
  "States": {
    "Clean And Validate CQC Data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Flatten Delta CQC Providers",
          "States": {
            "Flatten Delta CQC Providers": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${cqc_api_security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command": [
                        "cqc_providers_2_delta_flatten.py",
                        "--delta_api_source", "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_providers_api/version=3.0.0/",
                        "--flattened_destination", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_providers_02_delta_flattened/"
                      ]
                    }
                  ]
                }
              },
              "Next": "Build Full and Validate Flattened Providers"
            },
            "Build Full and Validate Flattened Providers": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Build Full flatten CQC Providers",
                  "States": {
                    "Build Full flatten CQC Providers": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${cqc_api_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "cqc_providers_3_full_flattened.py",
                                "--delta_source", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_providers_02_delta_flattened/",
                                "--full_destination", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_providers_03_full_flattened/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Flatten Delta CQC Providers",
                  "States": {
                    "Validate Flatten Delta CQC Providers": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "validate_cqc_providers_2_delta_flatten.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=CQC_delta/dataset=cqc_providers_02_delta_flattened/",
                                "--reports_path", "domain=data_validation_reports/dataset=data_validation_reports_cqc_providers_02_delta_flattened/",
                                "--compare_path", "domain=CQC_delta/dataset=delta_providers_api/version=3.0.0/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Clean Full and Validate Flattened Providers"
            },
            "Clean Full and Validate Flattened Providers": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Clean Full CQC Providers",
                  "States": {
                    "Clean Full CQC Providers": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Build Full flatten CQC Providers",
                  "States": {
                    "Validate Build Full flatten CQC Providers": {
                      "Type": "Pass",
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Validate Clean Full CQC Providers"
            },
            "Validate Clean Full CQC Providers": {
              "Type": "Pass",
              "End": true
            }
          }
        },
        {
          "StartAt": "Flatten Delta CQC Locations",
          "States": {
            "Flatten Delta CQC Locations": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${cqc_api_security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command": [
                        "cqc_locations_2_delta_flatten.py",
                        "--cqc_locations_api_delta_source", "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api/version=3.1.0/",
                        "--cqc_locations_flattened_destination", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_02_delta_flattened/"
                      ]
                    }
                  ]
                }
              },
              "Next": "Build Full and Validate Flattened Locations"
            },
            "Build Full and Validate Flattened Locations": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Build Full flatten CQC Locations",
                  "States": {
                    "Build Full flatten CQC Locations": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${cqc_api_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "cqc_locations_3_full_flattened.py",
                                "--delta_source", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_02_delta_flattened/",
                                "--full_destination", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_03_full_flattened/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Flatten Delta CQC Locations",
                  "States": {
                    "Validate Flatten Delta CQC Locations": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "validate_cqc_locations_2_delta_flatten.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=CQC_delta/dataset=cqc_locations_02_delta_flattened/",
                                "--reports_path", "domain=data_validation_reports/dataset=data_validation_reports_cqc_locations_02_delta_flattened/",
                                "--compare_path", "domain=CQC_delta/dataset=delta_locations_api/version=3.1.0/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Clean Full and Validate Flattened Locations"
            },
            "Clean Full and Validate Flattened Locations": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Clean Full CQC Locations",
                  "States": {
                    "Clean Full CQC Locations": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${cqc_api_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "cqc_locations_4_full_clean.py",
                                "--cqc_locations_full_flattened_source", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_03_full_flattened/",
                                "--ons_postcode_directory_source", "${dataset_bucket_uri}/domain=ONS/dataset=postcode_directory_cleaned/",
                                "--cqc_registered_locations_cleaned_destination", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_04_full_cleaned_registered/",
                                "--cqc_full_snapshot_destination", "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_04_latest_snapshot/",
                                "--manual_postcode_corrections_source", "${dataset_bucket_uri}/domain=CQC/dataset=postcode_corrections/manual_postcode_corrections.csv"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Build Full flatten CQC Locations",
                  "States": {
                    "Validate Build Full flatten CQC Locations": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${cqc_api_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "validate_cqc_locations_3_full_flattened.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=CQC_delta/dataset=cqc_locations_03_full_flattened/",
                                "--reports_path", "domain=data_validation_reports/dataset=data_validation_reports_cqc_locations_03_full_flattened/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Validate Full Locations"
            },
            "Validate Full Locations": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Validate Full Clean Registered CQC Locations",
                  "States": {
                    "Validate Full Clean Registered CQC Locations": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "validate_cqc_locations_4_full_clean.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=CQC_delta/dataset=cqc_locations_04_full_cleaned_registered/",
                                "--reports_path", "domain=data_validation_reports/dataset=data_validation_reports_cqc_locations_04_full_cleaned_registered/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Clean Full Latest Snapshot",
                  "States": {
                    "Validate Clean Full Latest Snapshot": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command": [
                                "validate_cqc_locations_4_full_latest_snapshot.py",
                                "--bucket_name", "${dataset_bucket_name}",
                                "--source_path", "domain=CQC_delta/dataset=cqc_locations_04_latest_snapshot/",
                                "--reports_path", "domain=data_validation_reports/dataset=data_validation_reports_cqc_locations_04_latest_snapshot/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawler",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Handle Error and Run Crawler"
        }
      ]
    },
    "Handle Error and Run Crawler": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run CQC Crawler",
          "States": {
            "Run CQC Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${cqc_crawler_delta_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
