terraform/pipeline/step-functions/dynamic/Transform-CQC-Data.json
{
  "Comment": "State machine for cleaning and validating CQC data",
  "StartAt": "Clean And Validate CQC Data",
  "States": {
    "Clean And Validate CQC Data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Clean CQC Provider Data",
          "States": {
            "Clean CQC Provider Data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${clean_cqc_provider_data_job_name}",
                "Arguments": {
                  "--cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/",
                  "--cqc_provider_cleaned": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api_cleaned/"
                }
              },
              "Next": "Validate Providers Cleaned"
            },
            "Validate Providers Cleaned": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_providers_api_cleaned_data_job_name}",
                "Arguments": {
                  "--raw_cqc_provider_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api/version=3.0.0/",
                  "--cleaned_cqc_providers_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=full_providers_api_cleaned/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=data_quality_report_delta_providers_api_cleaned/"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Clean CQC Location Data",
          "States": {
            "Clean CQC Location Data": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${clean_cqc_location_data_job_name}",
                "Arguments": {
                  "--cqc_location_source": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api/version=3.0.0",
                  "--cleaned_ons_postcode_directory_source": "${dataset_bucket_uri}/domain=ONS/dataset=postcode_directory_cleaned/",
                  "--manual_postcode_corrections_source": "${dataset_bucket_uri}/domain=CQC/dataset=postcode_corrections/manual_postcode_corrections.csv",
                  "--cleaned_cqc_location_destination": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api_cleaned/",
                  "--gac_service_destination": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_gac_service/",
                  "--regulated_activities_destination": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_regulated_activities/",
                  "--specialisms_destination": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_specialisms/",
                  "--postcode_matching_destination": "${dataset_bucket_uri}/domain=CQC_delta/dataset=dim_postcode_matching/"
                }
              },
              "ResultPath": "$.cleanLocationResult",
              "Next": "Validate Location and Dimensions"
            },
            "Validate Location and Dimensions": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Set Locations Parameters",
                  "States": {
                    "Set Locations Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "validate_delta_locations_api_cleaned.py",
                        "bucket_name_arg": "--bucket_name",
                        "bucket_name": "${dataset_bucket_name}",
                        "source_path_arg": "--source_path",
                        "source_path": "domain=CQC_delta/dataset=delta_locations_api_cleaned/",
                        "reports_path_arg": "--reports_path",
                        "reports_path": "domain=data_validation_reports/dataset=data_validation_reports_delta_locations_api_cleaned/",
                        "compare_path_arg": "--compare_path",
                        "compare_path": "domain=CQC_delta/dataset=delta_locations_api/version=3.0.0/"
                      },
                      "Next": "Validate Locations Cleaned"
                    },
                    "Validate Locations Cleaned": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids
                            },
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.bucket_name_arg, $.bucket_name, $.source_path_arg, $.source_path, $.reports_path_arg, $.reports_path, $.compare_path_arg, $.compare_path)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.validateLocationsResult",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Set Postcode Parameters",
                  "States": {
                    "Set Postcode Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "validate_dim_postcodes_matching.py",
                        "bucket_name_arg": "--bucket_name",
                        "bucket_name": "${dataset_bucket_name}",
                        "source_path_arg": "--source_path",
                        "source_path": "domain=CQC_delta/dataset=dim_postcode_matching/",
                        "reports_path_arg": "--reports_path",
                        "reports_path": "domain=data_validation_reports/dataset=data_validation_reports_dim_postcode_matching/"
                      },
                      "Next": "Validate Postcode Dimension"
                    },
                    "Validate Postcode Dimension": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids
                            },
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.bucket_name_arg, $.bucket_name, $.source_path_arg, $.source_path, $.reports_path_arg, $.reports_path)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.validatePostcodeResult",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Set GAC Parameters",
                  "States": {
                    "Set GAC Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "validate_dim_gac_service.py",
                        "bucket_name_arg": "--bucket_name",
                        "bucket_name": "${dataset_bucket_name}",
                        "source_path_arg": "--source_path",
                        "source_path": "domain=CQC_delta/dataset=dim_gac_service/",
                        "reports_path_arg": "--reports_path",
                        "reports_path": "domain=data_validation_reports/dataset=data_validation_reports_dim_gac_service/"
                      },
                      "Next": "Validate GAC Dimension"
                    },
                    "Validate GAC Dimension": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids
                            },
                            "SecurityGroups": [
                              "${cqc_api_security_group_id}"
                            ],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.bucket_name_arg, $.bucket_name, $.source_path_arg, $.source_path, $.reports_path_arg, $.reports_path)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.validateGacResult",
                      "End": true
                    }
                  }
                }
              ],
              "Next": "Build Locations Cleaned"
            },
            "Build Locations Cleaned": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName": "${create_snapshot_lambda_lambda_arn}:$LATEST",
                "Payload": {
                  "dataset": "locations-cleaned",
                  "input_uri": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api_cleaned/",
                  "output_uri.$": "States.Format('${dataset_bucket_uri}/domain=CQC_delta/dataset=full_locations_api_cleaned/year={}/month={}/day={}/', States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 0), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 1), States.ArrayGetItem(States.StringSplit($$.State.EnteredTime, '-,T'), 2))",
                  "snapshot_date.$": "$$.State.EnteredTime"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Set Flatten Delta CQC Locations Parameters",
          "States": {
            "Set Flatten Delta CQC Locations Parameters": {
              "Type": "Pass",
              "Result": {
                "script": "cqc_locations_2_flatten.py",
                "cqc_source_arg_name": "--cqc_locations_api_delta_source",
                "cqc_source_arg_location": "${dataset_bucket_uri}/domain=CQC_delta/dataset=delta_locations_api/version=3.0.0/",
                "cqc_destination_arg_name": "--cqc_locations_flattened_destination",
                "cqc_destination_arg_location": "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_02_delta_flattened/"
              },
              "Next": "Flatten Delta CQC Locations"
            },
            "Flatten Delta CQC Locations": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask.sync",
              "Parameters": {
                "Cluster": "${polars_cluster_arn}",
                "TaskDefinition": "${cqc_api_task_arn}",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets": ${public_subnet_ids},
                    "SecurityGroups": ["${cqc_api_security_group_id}"],
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "cqc-api-container",
                      "Command.$": "States.Array($.script, $.cqc_source_arg_name, $.cqc_source_arg_location, $.cqc_destination_arg_name, $.cqc_destination_arg_location)"
                    }
                  ]
                }
              },
              "ResultPath": "$.flattenedLocationResult",
              "Next": "Build, Clean and Validate Locations"
            },
            "Build, Clean and Validate Locations": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "(placeholder) Build Full CQC Locations",
                  "States": {
                    "(placeholder) Build Full CQC Locations": {
                      "Type": "Pass",
                      "Result": "Placeholder for Build Full CQC Locations",
                      "Next": "Set Clean Full CQC Locations Parameters"
                    },
                    "Set Clean Full CQC Locations Parameters": {
                      "Type": "Pass",
                      "Result": {
                        "script": "cqc_locations_4_clean.py",
                        "cqc_full_flat_source_arg_name": "--cqc_locations_full_flattened_source",
                        "cqc_full_flat_source_arg_location": "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_02_delta_flattened/",
                        "ons_pd_source_arg_name": "--ons_postcode_directory_source",
                        "ons_pd_source_arg_location": "${dataset_bucket_uri}/domain=ONS/dataset=postcode_directory_cleaned/",
                        "cqc_registered_destination_arg_name": "--cqc_registered_locations_cleaned_destination",
                        "cqc_registered_destination_arg_location": "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_04_cleaned_registered/",
                        "cqc_deregistered_destination_arg_name": "--cqc_registered_locations_cleaned_destination",
                        "cqc_deregistered_destination_arg_location": "${dataset_bucket_uri}/domain=CQC_delta/dataset=cqc_locations_04_cleaned_deregistered/"
                      },
                      "Next": "Clean Full CQC Locations"
                    },
                    "Clean Full CQC Locations": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${cqc_api_task_arn}",
                        "LaunchType": "FARGATE",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${cqc_api_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "cqc-api-container",
                              "Command.$": "States.Array($.script, $.cqc_full_flat_source_arg_name, $.cqc_full_flat_source_arg_location, $.ons_pd_source_arg_name, $.ons_pd_source_arg_location, $.cqc_registered_destination_arg_name, $.cqc_registered_destination_arg_location, $.cqc_deregistered_destination_arg_name, $.cqc_deregistered_destination_arg_location)"
                            }
                          ]
                        }
                      },
                      "ResultPath": "$.cleanedLocationResult",
                      "Next": "(placeholder) Validate Full CQC Locations"
                    },
                    "(placeholder) Validate Full CQC Locations": {
                      "Type": "Pass",
                      "Result": "Placeholder for Validate Full CQC Locations",
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "(placeholder) Validate Flatten Delta CQC Locations",
                  "States": {
                    "(placeholder) Validate Flatten Delta CQC Locations": {
                      "Type": "Pass",
                      "Result": "Placeholder for Validate Flatten Delta CQC Locations",
                      "End": true
                    }
                  }
                }
              ],
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawler",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Handle Error and Run Crawler"
        }
      ]
    },
    "Handle Error and Run Crawler": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run CQC Crawler",
          "States": {
            "Run CQC Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${cqc_crawler_delta_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
