terraform/pipeline/step-functions/dynamic/Transform-ASCWDS-Data.json
{
  "Comment": "State machine for validating and cleaning ASCWDS data",
  "StartAt": "Clean Workplace and validate raw data",
  "States": {
    "Clean Workplace and validate raw data": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Parallel Clean Workspace",
          "States": {
            "Parallel Clean Workspace": {
              "Type": "Parallel",
              "Next": "Clean Worker and validate cleaned data",
              "Branches": [
                {
                  "StartAt": "Clean Workplace Data",
                  "States": {
                    "Clean Workplace Data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${clean_ascwds_workplace_job_name}",
                        "Arguments": {
                          "--ascwds_workplace_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace/",
                          "--cleaned_ascwds_workplace_destination": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace_cleaned/",
                          "--ascwds_for_sfc_internal_destination": "${dataset_bucket_uri}/domain=SfC/dataset=ascwds_for_sfc_internal/"
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Clean ASCWDS Workplace polars",
                  "States": {
                    "Clean ASCWDS Workplace polars": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "LaunchType": "FARGATE",
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${ascwds_task_arn}",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${ascwds_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "ascwds-container",
                              "Command": [
                                "clean_ascwds_workplace.py",
                                "--workplace_source",
                                "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace/",
                                "--data_labels_source",
                                "${dataset_bucket_uri}/domain=ASCWDS/dataset=data_labels/data_labels_lookup.csv",
                                "--cleaned_workplace_destination",
                                "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace_cleaned_polars/",
                                "--ascwds_for_sfc_internal_destination",
                                "${dataset_bucket_uri}/domain=SfC/dataset=ascwds_for_sfc_internal_polars/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            },
            "Clean Worker and validate cleaned data": {
              "Type": "Parallel",
              "End": true,
              "Branches": [
                {
                  "StartAt": "Clean Worker Data",
                  "States": {
                    "Clean Worker Data": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${clean_ascwds_worker_job_name}",
                        "Arguments": {
                          "--ascwds_worker_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=worker/",
                          "--ascwds_workplace_cleaned_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace_cleaned/",
                          "--ascwds_worker_destination": "${dataset_bucket_uri}/domain=ASCWDS/dataset=worker_cleaned/"
                        }
                      },
                      "Next": "Validate Cleaned Worker"
                    },
                    "Validate Cleaned Worker": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${validate_ascwds_worker_cleaned_data_job_name}",
                        "Arguments": {
                          "--cleaned_ascwds_worker_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=worker_cleaned/",
                          "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=validation_pdq_worker_cleaned/"
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Cleaned Workplace Polars",
                  "States": {
                    "Validate Cleaned Workplace Polars": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "LaunchType": "FARGATE",
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${ascwds_task_arn}",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${ascwds_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "ascwds-container",
                              "Command": [
                                "validate_clean_ascwds_workplace.py",
                                "--bucket_name",
                                "${dataset_bucket_name}",
                                "--source_path",
                                "domain=ASCWDS/dataset=workplace_cleaned_polars/",
                                "--reports_path",
                                "domain=data_validation_reports/dataset=validation_ascwds_workplace_cleaned/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Workplace for Reconciliation Polars",
                  "States": {
                    "Validate Workplace for Reconciliation Polars": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::ecs:runTask.sync",
                      "Parameters": {
                        "LaunchType": "FARGATE",
                        "Cluster": "${polars_cluster_arn}",
                        "TaskDefinition": "${ascwds_task_arn}",
                        "NetworkConfiguration": {
                          "AwsvpcConfiguration": {
                            "Subnets": ${public_subnet_ids},
                            "SecurityGroups": ["${ascwds_security_group_id}"],
                            "AssignPublicIp": "ENABLED"
                          }
                        },
                        "Overrides": {
                          "ContainerOverrides": [
                            {
                              "Name": "ascwds-container",
                              "Command": [
                                "validate_reconciliation.py",
                                "--bucket_name",
                                "${dataset_bucket_name}",
                                "--source_path",
                                "domain=SfC/dataset=ascwds_for_sfc_internal_polars/",
                                "--reports_path",
                                "domain=data_validation_reports/dataset=validation_ascwds_for_sfc_internal_pipeline/"
                              ]
                            }
                          ]
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Validate Cleaned Workplace",
                  "States": {
                    "Validate Cleaned Workplace": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::glue:startJobRun.sync",
                      "Parameters": {
                        "JobName": "${validate_ascwds_workplace_cleaned_data_job_name}",
                        "Arguments": {
                          "--cleaned_ascwds_workplace_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace_cleaned/",
                          "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=validation_pdq_workplace_cleaned/"
                        }
                      },
                      "End": true
                    }
                  }
                }
              ]
            }
          }
        },
        {
          "StartAt": "Validate Workplace Raw",
          "States": {
            "Validate Workplace Raw": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_ascwds_workplace_raw_data_job_name}",
                "Arguments": {
                  "--raw_ascwds_workplace_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=workplace/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=validation_pdq_workplace_raw/"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Validate Worker Raw",
          "States": {
            "Validate Worker Raw": {
              "Type": "Task",
              "Resource": "arn:aws:states:::glue:startJobRun.sync",
              "Parameters": {
                "JobName": "${validate_ascwds_worker_raw_data_job_name}",
                "Arguments": {
                  "--raw_ascwds_worker_source": "${dataset_bucket_uri}/domain=ASCWDS/dataset=worker/",
                  "--report_destination": "${dataset_bucket_uri}/domain=data_validation_reports/dataset=validation_pdq_worker_raw/"
                }
              },
              "End": true
            }
          }
        }
      ],
      "Next": "Handle Error and Run Crawler",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "ResultPath": "$.error",
          "Next": "Handle Error and Run Crawler"
        }
      ]
    },
    "Handle Error and Run Crawler": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Check if Error Exists",
          "States": {
            "Check if Error Exists": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.error",
                  "IsPresent": true,
                  "Next": "Publish Error Notification"
                }
              ],
              "Default": "No Error"
            },
            "Publish Error Notification": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
              "Parameters": {
                "FunctionName": "${pipeline_failure_lambda_function_arn}:$LATEST",
                "Payload": {
                  "Error.$": "$.error.Cause",
                  "ExecutionId.$": "$$.Execution.Id",
                  "StateMachineName.$": "$$.StateMachine.Name",
                  "StateMachineId.$": "$$.StateMachine.Id",
                  "ExecutionStartTime.$": "$$.Execution.StartTime",
                  "CallbackToken.$": "$$.Task.Token"
                }
              },
              "Next": "Fail"
            },
            "No Error": {
              "Type": "Succeed"
            },
            "Fail": {
              "Type": "Fail"
            }
          }
        },
        {
          "StartAt": "Run ASCWDS Crawler",
          "States": {
            "Run ASCWDS Crawler": {
              "Type": "Task",
              "Resource": "arn:aws:states:::aws-sdk:glue:startCrawler",
              "Parameters": {
                "Name": "${ascwds_crawler_name}"
              },
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
